.arrastrable {
    /* Establece la posición del elemento como 'absoluta'. */
    position: absolute;
    /* Establece el ancho del elemento en 100 píxeles. */
    width: 100px;
    /* Establece la altura del elemento en 100 píxeles. */
    height: 100px;
    /* Establece el color de fondo del elemento en rojo. */
    background-color: red;
    /* Establece el cursor del puntero del mouse como 'move'. */
    cursor: move;
}